C̶r̶e̶a̶t̶e̶ ̶Q̶/̶A̶ ̶d̶a̶t̶a̶ ̶t̶y̶p̶e̶ ̶

l̶o̶o̶p̶ ̶t̶h̶r̶o̶u̶g̶h̶ ̶t̶h̶e̶ ̶q̶u̶e̶s̶t̶i̶o̶n̶s̶ ̶a̶n̶d̶ ̶p̶r̶o̶m̶p̶t̶ ̶a̶n̶s̶w̶e̶r̶ ̶

w̶r̶i̶t̶e̶ ̶l̶o̶g̶i̶c̶ ̶t̶o̶ ̶s̶e̶e̶ ̶i̶f̶ ̶c̶o̶r̶r̶e̶c̶t̶

save and recall previous flashcards